/*html,
body,
#root {
  height: 100%;
  width: 100%;
  background: #fff;
}

https://coolors.co/020202-503b31-705d56-9097c0-a7bbec
https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd
https://coolors.co/463f3a-8a817c-bcb8b1-f4f3ee-e0afa0

*/

* {
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: underline; /* no underline */
  cursor: pointer;
}
